page-travel-alert {
	.flex-row {
	    text-align: center; 
	    display: flex; 
	    justify-content: center;
	    padding-left: 5%; 
	    padding-right: 5%;
	    padding-bottom: 10px;
	    padding-top: 10px;
	}

	 .img-map {
	    padding-top: 8px;
	    padding-bottom: 8px;
	 }

	.flexgrid{
	  		
  		color: #ffffff;
  		max-width: 90%;
  		min-width: 90%;

      background-color: #547d88;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 15px;
      padding-bottom: 15px;

      button {

      }

		h2 {
			margin-top: 5px;
		}

		h5 {
			margin-top: 15px;
			padding-left: 5px;
			padding-right: 5px;
    		margin-bottom: 15px;
		}

		min-width: 250px;

  	}
}
