<ion-header hideWhen="core">
	<page-bsc-header ></page-bsc-header>
</ion-header>

<ion-content style = "
    background-color: white">

	<page-bsc-header header="Buy Travel Pass" showWhen="core"></page-bsc-header>

	<h2 hideWhen='core' class="mobile-sub-header">TRAVEL PASS</h2>
	<h2 showWhen='core' class="core-sub-header">TRAVEL PASS</h2>


	<ion-grid class = "selected-grid" [hidden]='statusForView != 0'>
		<ion-row>
			<ion-col >
				<h3 class="page-paddingtext">Travel Pass Price</h3>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>
				<h6 class="page-paddingtext">Must be Purchased Prior to Bali Arrival</h6>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>
				<h3 class="page-lastpaddingtext">Select Travel Pass Requirements</h3>
			</ion-col>
		</ion-row>

		<ion-row class = "box1-content" align-items: center  *ngFor="let ticket of bundleViewDescription">
			<ion-col col-12 align-items: center >
				<ion-row class = "border-element1">
					<ion-col class = "counter-col">
						<ion-row>
							<ion-col class = "counter-col">
								<button class = "counter-btn" float-left clear (click)="decrementValue(ticket)">
									<ion-icon name="remove" ></ion-icon>
								</button>
							</ion-col>
							<ion-col class = "vertical">
								<p class= "bar-text">{{ticket.quantity}}</p>
							</ion-col>
							<ion-col class = "counter-col">
								<button class = "counter-btn" clear (click)="incrementValue(ticket)" float-right>
									<ion-icon name="md-add" ></ion-icon>
								</button>
							</ion-col>
						</ion-row>
					</ion-col>
					<ion-col col-4 class = "static-ctext">
						<p class = "unit-component">
							<b>1 {{ticket.title}}: $</b>
						</p>
					</ion-col>
					<ion-col col-4 class = "vertical">
						<p class= "bar-text">{{ticket.price}}</p>
					</ion-col>
				</ion-row>
			</ion-col>

			<ion-col col-12>
				<p class="page-text">{{ticket.description}}</p>
				<p class="page-text">{{ticket.valid_days}}</p>
			</ion-col>
		</ion-row>	

		<h6 *ngIf = "loginErrorText" class = "error-text">To Continue Please 
			<span (click) = "moveToLoginPage()" >Login</span>
		</h6>

		<div class = "save-btn">
		<h6 *ngIf = "noTicketChosen" style="color: red; margin-top: 0px">Please select a ticket to continue</h6>	
		<button ion-button color='primary' (click)='savePressed()'>Next</button>
		</div>

		

</ion-grid>
<ion-grid class = "selected-grid" [hidden]='statusForView != 1'>	

		<ion-row>
			<ion-col>
				<h5 class = "center-msg">You have selected the following Travel Pass</h5>
			</ion-col>
		</ion-row>

		<ion-row class = "box2-content">

			<ion-col class = "ticket-summary">
				<ion-row class="grid-row">
					<ion-col>
						<ion-row >
							<ion-col>
								<h6>Quantity</h6>
							</ion-col>

							<ion-col>
								<h6>Ticket Type</h6>
							</ion-col>

							<ion-col>
								<h6>Price</h6>
							</ion-col>
						</ion-row>
					</ion-col>
				</ion-row>

				<ion-row class="grid-row" *ngFor="let ticket of bundleSaveTickets" [hidden] = "ticket.quantity == 0">
					<ion-col>
						<ion-row >
							<ion-col>
								<p>{{ticket.quantity}}</p>
							</ion-col>

							<ion-col>
								<p>{{ticket.ticket_type}}</p>
							</ion-col>

							<ion-col>
								<p>${{ticket.price}}</p>
							</ion-col>
						</ion-row>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col style = "margin-top: 25px;">
						<p>
							<b>TOTAL PRICE : <span class="green-text bold-text">${{finalCost}}</span></b>
						</p>
					</ion-col>
				</ion-row>
			</ion-col>
		</ion-row>


			<div class = "save-btn" >
		<button ion-button outline color='primary' (click)='editPressed()'>Edit Tickets</button>
	</div>

	<div class = "save-btn" >
		<button ion-button color='primary' (click)='continuePressed()'>Continue</button>
	</div>

	</ion-grid>


	<h5 style="text-align: center; text-align: center;color: #527a85; margin-bottom: -10px;" [hidden]='statusForView != 2'>Please fill the adult ticket details</h5>

	<ion-grid [hidden]='statusForView != 2'>
	<form #ticketDetailsEntry="ngForm" novalidate>
		<ion-row class='form-row' *ngFor='let traveller of arrayTravellers, let i = index'>
			<ion-col class='form-col'>
				<div class="form-panel">
					
					    <ion-list no-lines>
					    	<p><b>{{traveller.ticket_type}} {{i+1}} :</b></p>
					    	<ion-item class='form-item'>
						        <ion-input [(ngModel)]="traveller.first_name" name="firstName" type="text" #firstName="ngModel" spellcheck="false" autocapitalize="off" required placeholder='First Name' >
						        </ion-input>
					      	</ion-item>
						      <p ion-text [hidden]="traveller.first_name != '' || travellerFormSubmitted == false" color="danger" padding-left>
						        First Name is required
						      </p>

						      <br>

						    <ion-item class='form-item'>
						        <ion-input [(ngModel)]="traveller.last_name" name="lastName" type="text" #lastName="ngModel" spellcheck="false" autocapitalize="off" required placeholder='Last Name'>
						        </ion-input>
					      	</ion-item>
						      <p ion-text [hidden]="traveller.last_name != '' || travellerFormSubmitted == false" color="danger" padding-left>
						        Last Name is required
						      </p>

						      <br>

						      <ion-item class='form-item'>
						        <ion-input [(ngModel)]="traveller.email" name="email" type="email" #email="ngModel" spellcheck="false" autocapitalize="off" required ngModel email placeholder='Email'>
						        </ion-input>
						      </ion-item>
						      <p ion-text [hidden]="email.valid || travellerFormSubmitted == false" color="danger" padding-left>
						        Enter a valid email
						      </p>

						      <br>						  						    

						      <ion-item class='form-item'>						     				
                		        <ion-input placeholder="DATE OF BIRTH (dd/mm/yyyy)" class="textbox-n" type="text" onfocus="(this.type='date')" [(ngModel)]="traveller.date_of_birth" name="dob" #dob="ngModel" value= ""></ion-input>
	                      	</ion-item>

	                      	  <!-- <ion-item class='form-item' hideWhen = "core">			
                		      	<ion-datetime displayFormat="DD/MMM/YYYY" placeholder="Date Of Birth" class="textbox-n" type="text" onfocus="(this.type='date')"  id="date" [(ngModel)]="traveller.date_of_birth" name="dob" #dob="ngModel" value= "" max= "{{pickerDate}}"></ion-datetime>
	                      	</ion-item> -->
	                          <p ion-text [hidden]="traveller.date_of_birth != '' || travellerFormSubmitted == false" color="danger" padding-left>
							        Enter date of birth
						      </p>
						      <br>
							    <ion-item class='form-item'>
								  	<ion-select [(ngModel)]="traveller.gender" name='gender' #gender="ngModel" required placeholder='Gender'>
								  		<ion-option value="0">Male</ion-option>
								    	<ion-option value="1">Female</ion-option>
								   		<ion-option value="2">Transgender</ion-option>
									</ion-select>
								</ion-item>
								<p ion-text [hidden]="traveller.gender != '' || travellerFormSubmitted == false " color="danger" padding-left>
							        Select gender
							    </p>
							    	<br>


						</ion-list>				
  				</div>
			</ion-col>
		</ion-row>
		<div class = "save-btn" >
	        	<button ion-button color='primary' (click)='buttonSubmitPressed(ticketDetailsEntry)'>Submit Traveller Details</button>
	    </div>	      
		</form>
	</ion-grid>

	<ion-grid class='form-grid' [hidden]='statusForView != 3'>
		<h5 class = "payment-title"> Please Enter Payment Details </h5>
		<ion-row class = "form-row">
			<ion-col class = "form-col">
				<div class="form-panel">
					<form #paymentDetailsEntry="ngForm" novalidate>
						<ion-list>
							<ion-item class='form-item'>
								<ion-input [(ngModel)]="bundlePaymentData.name" #name="ngModel" name="name" type="text" spellcheck="false"     autocapitalize="off" required ngModel placeholder='* NAME'></ion-input>
							</ion-item>
							<p ion-text [hidden]="name.valid || paymentFormSubmitted == false" color="danger" padding-left>
								Name is required
							</p>
							<br>
							<ion-item class='form-item'>
								<ion-input [(ngModel)]="bundlePaymentData.phone" #phone="ngModel" pInputText (keypress)="validateCard($event)" maxlength="19" name="contact" type="tel" spellcheck="false" autocapitalize="off" required ngModel placeholder='* CONTACT NUMBER'></ion-input>
							</ion-item>
							<p ion-text [hidden]="phone.valid || paymentFormSubmitted == false" color="danger" padding-left>
								Contact Number is required
							</p>
							<br>
							<ion-item class='form-item'>
								<ion-input [(ngModel)]="bundlePaymentData.address" #address="ngModel" name="address" type="text-area" spellcheck="false"     autocapitalize="off" required ngModel placeholder='* ADDRESS'></ion-input>
							</ion-item>
							<p ion-text [hidden]="address.valid || paymentFormSubmitted == false" color="danger" padding-left>
								Address is required
							</p>
							<br>
							<ion-item class='form-item'>
								<ion-input [(ngModel)]="cardDetails.number" #number="ngModel" name="cardNumber" type="tel" spellcheck="false"  pInputText (keypress)="validateCard($event)" maxlength="19"  autocapitalize="off" required ngModel placeholder='* CARD NUMBER'></ion-input>
							</ion-item>
							<p ion-text [hidden]="number.valid || paymentFormSubmitted == false" color="danger" padding-left>
								Card Number is required
							</p>
							<br>
							<ion-item class='form-item'>
								<ion-input [(ngModel)]="cardDetails.cvc" #cvc="ngModel"  pInputText (keypress)="onlyNumberKey($event)" maxlength="4" name="cvc" type="tel" spellcheck="false" autocapitalize="off" required ngModel placeholder='* CVC'></ion-input>
							</ion-item>
							<p ion-text [hidden]="cvc.valid || paymentFormSubmitted == false" color="danger" padding-left>
								CVC number is required
							</p>
							<br>
							<ion-item class='form-item'>
								<ion-input [(ngModel)]="cardDetails.exp_month" #exp_month="ngModel"  name="mm" type="tel" spellcheck="false" autocapitalize="off" required ngModel placeholder='* MM'  InputText (keypress)="onlyNumberKey($event)" maxlength="2" max = "12" min = "1" ></ion-input>
							</ion-item>

							<p ion-text [hidden]="exp_month.valid || paymentFormSubmitted == false || exp_month < 12" color="danger" padding-left>
								Expiry Month of card is required
							</p>
							<br>
							<ion-item class='form-item'>
								<ion-input [(ngModel)]="cardDetails.exp_year" #exp_year="ngModel" name="yy" type="tel" spellcheck="false" autocapitalize="off" required ngModel placeholder='* YY'  InputText (keypress)="onlyNumberKey($event)" maxlength="2" ></ion-input>
							</ion-item>
							<p ion-text [hidden]="exp_year.valid || paymentFormSubmitted == false" color="danger" padding-left>
								Expiry Year of card is required
							</p>

								<br>

							    	<label>Select Date: </label>
							<div  class="input-group">
							    <input class="form-control" id="dtpkr" type="text"  />
							    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
							</div>

						</ion-list>

						<p ion-text [hidden]="paymentErrortext == ''" color="danger" padding-left>
								{{paymentErrortext}}
						</p>

						<ion-row class = "payment-btn">
							<ion-col>
								<button ion-button color='primary' (click)='makePayment(paymentDetailsEntry)'>Proceed to pay</button>
							</ion-col>
						</ion-row>
					</form>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
	<page-bsc-footer></page-bsc-footer>
</ion-content>




