page-buy-travel-pass {
	
	.travel-grid{
 		padding-left: 5%;
 		padding-right: 5%;
 		height: 100%;
   	text-align: center;

	}

	.grid-row{
		text-align: center;
	}

	.selected-grid{
		text-align: center;
		min-width: 250px;
      max-width:600px;
      padding-bottom: 20px;
		
	}

   .static-text{
      background:#378391;
      text-align: center;
   }

   .page-text{
      text-align: center;
      color: #378391;
      padding-top: 0px;
      padding-bottom: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
   }

   .page-padding-text{
      text-align: center;
      color: #378391;
      padding-top: 0px;
      padding-bottom: 0px;
      margin-top: 5px;
      margin-bottom: 10px;
   }

   .wrapper {
      text-align: center;
   }

   .customBtn{
        width:200px;
   }

   .border-element{
      border:1pt solid #378391;
      margin-top: 0px;
      margin-bottom: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
   }


}
