<ion-header hideWhen="core">
	<page-bsc-header ></page-bsc-header>
</ion-header>

<ion-content>

	<page-bsc-header showWhen="core"></page-bsc-header>

	<h2 hideWhen='core' class="mobile-sub-header">TRAVEL PASS</h2>
	<h2 showWhen='core' class="core-sub-header">TRAVEL PASS</h2>


	<ion-grid class = "selected-grid">
		<ion-row>
			<ion-col >
				<h3 class="page-paddingtext">Travel Pass Price</h3>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>

				<h6 class="page-paddingtext">Must be Purchased Prior to Bali Arrival</h6>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>
				<h4 class="page-paddingtext">Select Travel Pass Requirements</h4>
			</ion-col>
		</ion-row>

		<ion-row  class = "box1-content" align-items: center  *ngFor="let number of indexes">
			<ion-col col-12 align-items: center >
				<ion-row class = "border-element1">
					<ion-col>
						<ion-row>
							<ion-col>
								<button class = "btn" float-left clear (click)="decrementValue(arrayTicketCount[number],number)">
									<ion-icon name="remove" ></ion-icon>
								</button>
							</ion-col>
							<ion-col class = "vertical">
								<p>{{arrayTicketCount[number]}}</p>
							</ion-col>
							<ion-col>
								<button class = "btn" clear (click)="incrementValue(arrayTicketCount[number],number)" float-right>
									<ion-icon name="md-add" ></ion-icon>
								</button>
							</ion-col>
						</ion-row>
					</ion-col>
					<ion-col col-4 class = "static-ctext">
						<p class = "unit-component">
							<b>{{unitComponent[number]}}</b>
						</p>
					</ion-col>
					<ion-col col-4 class = "vertical">
						<p>{{unitCost[number]}}</p>
					</ion-col>
				</ion-row>
			</ion-col>
			<ion-row col-12>
				<ion-col>
					<p class="page-text">{{constraintText[number]}}</p>
				</ion-col>
			</ion-row >
			<ion-row col-12>
				<ion-col>
					<p class="page-text">{{validityMessage}}</p>
				</ion-col>
			</ion-row>
		</ion-row>

		<ion-row>
			<ion-col>
				<p class = "center-msg">You have selected the following Travel Pass</p>
			</ion-col>
		</ion-row>

		<ion-row class = "box2-content">
			<ion-col>
				<ion-row class="grid-row" *ngFor="let number of indexes">
					<ion-col>
						<p>Quantity {{arrayTicketCount[number]}}</p>
					</ion-col>

					<ion-col>
						<p>{{ticketType[number]}}</p>
					</ion-col>

					<ion-col>
						<p>Price ${{totalCost[number]}}</p>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col>
						<p>
							<b>TOTAL PRICE : ${{finalCost}}</b>
						</p>
					</ion-col>
				</ion-row>
			</ion-col>
		</ion-row>
	</ion-grid>
	
	<br>

		<div class = "save-btn">
			<button ion-button color='primary' (click)='savePressed()'>Save and Continue</button>
		</div>
		<page-bsc-footer></page-bsc-footer>
	</ion-content>



