page-buy-travel-pass {


   .form-col {
      min-width: 300px;
      max-width: 500px;
      background-color: white;
      padding: 4rem;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }

   .payment-title {
      color: #577f8a;
      font-size: 17px;
      font-family: arial;
      font-weight: bold;
      position: relative;
      text-align: center;
      margin-bottom: -5px
   }

   .form-grid{
      margin-left: 10%;
      margin-right: 10%;
      width: 80%;
      margin-top: -120px;
      margin-bottom: 20px;
      background-color: white
   }

   .ticket-summary{
      background-color: #fff;
      margin-top: -30px;
      // border: solid 1px #d1caca;
     box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }

   .form-panel .form-item{
      box-shadow: 0 0 0 1px #d2d1d1;
   }





	.travel-grid{
 		padding-left: 5%;
 		padding-right: 5%;
 		height: 100%;
   	text-align: center;

	}

   .bar-text{
      font-family: initial;
      color: #2f606e;
      font-weight: bold;
      font-size: 17px;
   }

	.grid-row{
		text-align: center;
      padding-top: 0px;
      padding-bottom: 0px;
      margin-top: 0px;
      margin-bottom: 5px;
      height: 40px;

      p{
         color: #486b75;
         font-family: initial; 
         font-size: 18px
      }
	}

	.selected-grid{
		text-align: center;
      min-width: 250px;
      max-width: 600px;
      margin-top: 30px;
     
	}
   .selected-grid2{
      min-width: 250px;
      max-width: 600px;
      background-color: #577f8a;
      min-height: 1000px
      ;
     
   }

   .payment-btn{
      text-align: right;
      display: block;
      padding-top: 10px;
   }

   .bold-text {
      font-size: 20px;
      font-weight: 500;
   }


   .button.customBtn{
        width:150px;

   }
   .page-paddingtext{
      padding-top: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
      color: #0a5877;
      justify-content: center;
   }
   
   .page-lastpaddingtext{
      padding-top: 0px;
      padding-bottom: 10px;
      margin-top: 0px;
      margin-bottom: 10px;
      color: #0a5877;
      justify-content: center;
   }
   

   .static-ctext{
      background:#2f606e;
      text-align: center;
      margin-top: 0px;
      margin-bottom: 0px;
   }

   .vertical{
      margin-top: 5px;
   }

   .page-text{
      text-align: center;
      color: #378391;
      padding-top: 0px;
      padding-bottom: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
   }

   .counter-btn{
      margin-top: 17px;
      height: 20px;
      width: 20px;
      color: white;
      background-color: #2f606e;
   }

   .box1-content{
      padding-top: 5px;
      padding-right: 20px;
      padding-left: 20px;
      padding-bottom: 5px;
      margin-bottom: 5px;
   }

   .border-element1{
       border: solid 1px #c2c2c2;
       background-color: white;
       box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }

   .unit-component{
      padding-top: 10px;
      color: white
   }

   .center-msg{
      text-align: center;
      color: #577f8a;
      margin-top: -25px;
      margin-bottom: -10px

   }

   .box2-content{
      margin-bottom: 0px;
      margin-left: 20px;
      margin-right: 20px;

      .type-para {

      }
   }

   ion-input{
      background-color: white;


   }

   


   .save-btn{
     text-align: center;
     margin-top: 20px;
     margin-bottom: 20px;
   }

}


input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}
