page-dashboard  {

	.form-col {
		min-width: 300px;
		max-width: 500px;

		h6 {
			text-align: center;
		}
	}

	.sub-button {
		color: #62a830;
		font-size: 22px;
		cursor: pointer;
	}

	.form-panel{
		background-color: #fff;
	    padding: 4rem;
	    margin-bottom: 2rem ;
	}
	.form-panel .form-item{
		box-shadow: 0 0 0 1px #d2d1d1;
	}

	input[type='file'] {
 	 	color: transparent;
	}

	.image-name {
		color: green
	}

	.dashboard-image-div {
		text-align: center;
		margin-top: 30px;

		h5 {
			color: #62a830;
			font-size: 18px;
			font-weight: 400
		}

		.dashboard-image {
			width: 100px;
			height: 100px;
		}

		.custom-file-select {
			cursor: pointer;
			font-size: 13px;
			border:1pt solid gray;
			padding-left: 5px;
			padding-right: 5px;
			padding-top: 3px;
			padding-bottom: 3px;
			color: solid gray;
		}
	}

	.logout-button {
		text-align: center;
		margin-bottom: 20px;
	}

	.dashboard-grid {
		padding-left: 0px;
		padding-right: 0px;
	}

}

ion-app.md [padding-left].text-md-danger{
	padding-left: 0;
	margin-left: 0px;
	margin-top: 5px;
    margin-bottom: 0;
}


ion-app.ios [padding-left] {
	padding-left: 0px;
	margin-left: 0px;
	margin-top: 5px;
    margin-bottom: 0px;
}


