page-services {
	.flexgrid-core{
  		min-width: 250px;
      margin-top: 40px;
      margin-bottom: 40px;

	    .services-img {
	      
	    }

  }

  .flexgrid-mobile{
      min-width: 250px;

      .services-img {
        
      }

  }

  	.service-row {
  		text-align: center; 
  		display: flex; 
  		justify-content: center; 
  		padding-left: 10%; 
  		padding-right: 10%; 
  		padding-top: 20px; 
  		padding-bottom: 20px
  	}

 	 .customPara {
  		color:#ffff;
  		text-align: center
  	}
}
