<ion-header hideWhen="core">
  <page-bsc-header ></page-bsc-header>
</ion-header>

<ion-content>

	<page-bsc-header header='Our Services' showWhen="core"></page-bsc-header>

	<h2 hideWhen='core' class="mobile-sub-header">OUR SERVICES</h2>
  <h2 showWhen='core' class="core-sub-header">OUR SERVICES</h2>

  <h6 class="placeholder" [hidden]="bundleServices.length > 0 || !isListLoaded">No Services Found</h6>

	<ion-grid>
        <ion-row showWhen="core" class='service-row'>
            <ion-col col-4  class="flexgrid-core" *ngFor="let data of bundleServices">
                  <div class="services-imgwrap" (click)="moveToServiceDetails(data)"><img src={{data.image_name}} class="services-img"></div>
                  <button class="service-btn" ion-button full (click)="moveToServiceDetails(data)">
                    {{data.title | uppercase}}
                  </button>
            </ion-col>
        </ion-row>

        <ion-row hideWhen="core" class='service-row'>
            <ion-col class="flexgrid-mobile" *ngFor="let data of bundleServices">
                  <div class="services-imgwrap" (click)="moveToServiceDetails(data)" ><img src={{data.image_name}} class="services-img"></div>
                  <button class="service-btn" ion-button full (click)="moveToServiceDetails(data)">
                    {{data.title | uppercase}}
                  </button>
            </ion-col>
        </ion-row>
  </ion-grid>

	<page-bsc-footer></page-bsc-footer>

</ion-content>