page-timer {

	.text1{
		font-family: arial;
		color: blue;
		font-size: 15px;
		grid-auto-flow: all;
	}
	.text2{
		font-family: arial;
		color: red;
		font-size: 20px
	}

	.div-timer{
		/*border:1px solid black;*/
		max-width: 300px;
	 	text-align: right;
	 	float: right;
	 	height: 40px;
	 	margin-right: 10px
	}

}
