<ion-header hideWhen="core">
  <page-bsc-header ></page-bsc-header>
</ion-header>

<ion-content hideWhen="core">
  <br>
  <ion-row style="display: flex; justify-content: center; text-align: center;">
    <button ion-button color='primary' style="width: 150px" round outline>Add or Remove</button>
  </ion-row>
  <br>
  <form>
    <ion-item>
      <ion-input type="text" text-center value=""></ion-input>
    </ion-item>
  </form><br>

  <h6 style="text-align: center!important">These are our most helpful favourites.</h6><br>
  <ion-row style="display: flex; justify-content: center; text-align: center;">
    <ion-col no-padding>
      <button ion-button color='primary' style="width: 150px">ATMs Near me</button>
    </ion-col>

    <ion-col no-padding>
      <button ion-button color='primary' style="width: 150px">Withdrawal ATM</button>
    </ion-col> 
  </ion-row><br>

  <ion-row style="display: flex; justify-content: center; text-align: center;">
    <ion-col no-padding>
      <button ion-button color='primary' style="width: 150px">Exchange Rate</button>
    </ion-col>

    <ion-col no-padding>
      <button ion-button color='primary' style="width: 150px">Sim Cards-Data</button>
    </ion-col> 
  </ion-row><br>

  <ion-row style="display: flex; justify-content: center; text-align: center;">
    <ion-col no-padding>
      <button ion-button color='primary' style="width: 150px">Weather Forecast</button>
    </ion-col>

    <ion-col no-padding>
      <button ion-button color='primary' style="width: 150px">FAQ-Group</button>
    </ion-col> 
  </ion-row><br>

</ion-content>

<ion-content showWhen="core">


	<page-bsc-header header='FAQ' showWhen="core"></page-bsc-header>

	<h2 hideWhen='core' class="mobile-sub-header">FAQ</h2>
    <h2 showWhen='core' class="core-sub-header">FAQ</h2>


<ion-grid class = "grid-adjust" >
	<ion-list >
        <ion-grid class='faq-grid'>
            <ion-item no-lines *ngFor="let data of bundleDataFAQ" text-wrap>
            		<ion-row class="sub-header" (click)="toggleSection(data)">
            			<ion-col col-1 style="text-align: left; padding-left: 5px; min-width: 40px; max-width: 45px">
            				<h5>Q.</h5>
            			</ion-col>
            			<ion-col col-9 style="text-align: left;" >
            				<h2 [innerHTML]="data.question"></h2>
            			</ion-col>
            			<ion-col col-2 class="icon-arrow">
        					<img src="assets/imgs/down-arrow.png" *ngIf="!data.isOpen" >
        					<img src="assets/imgs/arrow-up.png" *ngIf="data.isOpen" >
            			</ion-col>
            		</ion-row>

            		<ion-row [hidden]="!data.isOpen">
                        <ion-col col-2 class='answer-col'>
                            <h5 class="answer">Ans.</h5>
                        </ion-col>
            			<ion-col>
            				<p [innerHTML]="data.answer" style="padding-right: 5px; color: #000"></p>
            			</ion-col>
            		</ion-row>
            </ion-item>
        </ion-grid>
    </ion-list>
</ion-grid>
	<page-bsc-footer></page-bsc-footer>

</ion-content>

<ion-footer hideWhen="core">
  <ion-row>
    <ion-col no-padding>
        <button no-margin ion-button full color="light" (click)="openService()">
          <div>
            <ion-icon name="paper"></ion-icon><br>
            <label>Services</label>
          </div>
        </button>
    </ion-col>
    <ion-col no-padding>
        <button no-margin ion-button full color="light" (click)="openToday()">
          <div>
            <ion-icon name="partly-sunny"></ion-icon><br>
            <label>Today</label>
          </div>
        </button>
    </ion-col>
    <ion-col no-padding>
      <button no-margin ion-button full color="dark" (click)="openFavourites()">
        <div>
          <ion-icon name="star"></ion-icon><br>
          <label>Favourites</label>
        </div>
      </button>
    </ion-col>
    <ion-col no-padding>
      <button no-margin ion-button full color="light" (click)="openMe()">
        <div>
          <ion-icon name="contact"></ion-icon><br>
          <label>Me</label>
        </div>
      </button>
    </ion-col>
  </ion-row>
</ion-footer>