<ion-header hideWhen="core">
  <page-bsc-header ></page-bsc-header>
</ion-header>

<ion-content style = "background-color: #f0f0f0;">

	<page-bsc-header showWhen="core"></page-bsc-header>
	<h2 hideWhen='core' class="mobile-sub-header">PROFILE</h2>
  	<h2 showWhen='core' class="core-sub-header">PROFILE</h2>
 	
  	<ion-grid class='profile-grid'>
		<ion-row class='profile-row'>

			<ion-col class='profile-col'>
					<div class="form-panel">
						<br>
						<form #profileForm="ngForm" novalidate>
						    
						    <ion-list no-lines>
						      <p class = "response-text">{{profileText}}</p>
						      <p class = "response-error-text">{{profileErrorText}}</p>
						      <p class = "head-para">First Name</p>	
						      <ion-item class="form-item">
						        <ion-input [(ngModel)]="bundleOrder.first_name" name="first_name" type="text" #first_name="ngModel" spellcheck="false" autocapitalize="off" disabled = {{isDisabled}} required>
						        </ion-input>
						      </ion-item>
						      <p ion-text [hidden]="first_name.valid || submittedForm == false" color="danger" padding-left>
							        First Name Field Cannot be Empty
							  </p>

						      <br>
						       <p class = "head-para">Last Name</p>	
						      <ion-item class="form-item">
						        <ion-input [(ngModel)]="bundleOrder.last_name" name="last_name" type="text" #last_name="ngModel" spellcheck="false" autocapitalize="off" required disabled = {{isDisabled}} >
						        </ion-input>
						      </ion-item>
						      <p ion-text [hidden]="last_name.valid || submittedForm == false" color="danger" padding-left>
							        Last Name Field Cannot be Empty
							   </p>

						      <br>
						       <p class = "head-para">Email Id</p>	
						       <ion-item class="form-item">
							        <ion-input [(ngModel)]="bundleOrder.email" name="email" type="email" #email="ngModel" spellcheck="false" autocapitalize="off" required ngModel email disabled >
							        </ion-input>
							      </ion-item>
							    <br>
								 <p class = "head-para">Gender</p>	
							   <ion-item class='form-item'>
								  	<ion-select [(ngModel)]="bundleOrder.gender" name='gender' #gender="ngModel" required placeholder='Gender' disabled = {{isDisabled}} >
								  		<ion-option value="0">Male</ion-option>
								    	<ion-option value="1">Female</ion-option>
								   		<ion-option value="2">Transgender</ion-option>
									</ion-select>
								</ion-item>
							    <br>
							      <p class = "head-para">Contact Number</p>	
							       <ion-item class="form-item">
							        <ion-input [(ngModel)]="bundleOrder.phone" name="phone" type="text" #phone="ngModel" spellcheck="false" autocapitalize="off" required ngModel disabled = {{isDisabled}} > 
							        </ion-input>
							      </ion-item>
							      <p ion-text [hidden]="phone.valid || submittedForm == false" color="danger" padding-left>
							        Contact Number Field Cannot be Empty
							      </p>

							     <br>
							      <p class = "head-para">Address</p>	
							      <ion-item class="form-item">
							        <ion-input [(ngModel)]="bundleOrder.address" name="address" type="text" #address="ngModel" spellcheck="false" autocapitalize="off" required ngModel disabled = {{isDisabled}} placeholder = "update your address" >
							        </ion-input>
							      </ion-item>
							   
							      <br>
							       <p class = "head-para">City</p>	
							      <ion-item class="form-item">
							        <ion-input [(ngModel)]="bundleOrder.city" name="city" type="text" #city="ngModel" spellcheck="false" autocapitalize="off" required ngModel disabled = {{isDisabled}} placeholder = "update your city">
							        </ion-input>
							      </ion-item>
							    
							      <br>
							      <p class = "head-para">Zip Code</p>	
							      <ion-item class="form-item">
							        <ion-input [(ngModel)]="bundleOrder.zip_code" name="zip_code" type="number" #zip_code="ngModel" spellcheck="false" autocapitalize="off" required ngModel disabled = {{isDisabled}} placeholder = "update your zipcode" >
							        </ion-input>
							      </ion-item>
							</ion-list >

						    <ion-row responsive-sm>
						      <ion-col>
						        <button class = "edit-btn" *ngIf = "isDisabled"  (click)="buttonEdit()" type="submit" >EDIT PROFILE</button>
						        <button *ngIf = "!isDisabled" ion-button (click)="buttonUpdate(profileForm)" type="submit" block> UPDATE PROFILE</button>
						      </ion-col>
						    </ion-row>
						</form>
					</div>
			</ion-col>
		</ion-row>
	</ion-grid>

	<div style="text-align: center; margin-bottom: 20px; margin-top: 5px">
    	<button ion-button color='primary' outline (click)='buttonBackPressed()'>Back</button>
  	</div>

	<page-bsc-footer></page-bsc-footer>

</ion-content>