page-volcano-status {

  .flex-row {
      text-align: center; 
      display: flex; 
      justify-content: center;
      padding-left: 5%; 
      padding-right: 5%;
      padding-bottom: 10px;
      padding-top: 10px;
  }

  .volcano-img {
      margin-top: 10px;
      padding-left: 20%;
      padding-right: 20%;
      margin-bottom: 20px;
      width: 100%;
  }

  .details{
  	padding-left: 10%;
  	padding-right: 10%;
  	display: flex;
  	justify-content: center;
  }

  .flexgrid{
        
      color: #ffffff;
      max-width: 90%;
      min-width: 90%;

      background-color: #547d88;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 15px;
      padding-bottom: 15px;

    h2 {
      margin-top: 5px;
    }

    h5 {
      margin-top: 15px;
      padding-left: 5px;
      padding-right: 5px;
        margin-bottom: 15px;
    }

    min-width: 250px;

  }

}
