page-volcano-status {

.details{
	font-family: arial;
	color: #535860;
	padding-left: 10%;
	padding-right: 10%;
	display: flex;
	justify-content: left;
}

  .flexgrid{
  	min-width: 250px;

    .services-img {
      
    }

    img {
      margin-top: 10px;
      padding-left: 10%;
      padding-right: 10%;
    }

  }

}
