page-payment-status {

	.flex-row {
	    text-align: center; 
	    display: flex; 
	    justify-content: center;
	    padding-left: 5%; 
	    padding-right: 5%
	}

	.button-map {
	    width: 180px;
	    height: 50px;
	    margin-top: 20px;
	    margin-bottom: 15px;
	    display: inline-block;
	 }

	 .img-map {
	    padding-top: 8px;
	    padding-bottom: 8px;
	 }

	.flexgrid{
	  		
  		color: #527a85;
  		max-width: 90%;
  		min-width: 90%;
  		margin-top: 20px;
		padding-top: 15px;
		padding-bottom: 15px;

      button {

      }

		h2 {
			margin-top: 5px;
		}

		h5 {
			margin-top: 15px;
			padding-left: 5px;
			padding-right: 5px;
    		margin-bottom: 15px;
		}

		img {
			max-width: 15px;
			max-height: 15px;
		}

		min-width: 250px;

  	}

  	.core-sub-header {
	    background-color: #469594;
	    text-align: center;
	    margin-top: 0px;
	    margin-bottom: 0px;
	    color: #ffff;
	    height: 140px;
	    padding-top: 55px;
	    font-weight: 600;
	    font-size: 30px;
	    background-image: url("../assets/imgs/background.png");
	}

	.mobile-sub-header {
		background: #469594;
		text-align: center;
		margin-top: 0px;
		margin-bottom: 0px;
		color: #ffff;
		height: 50px;
		vertical-align: middle;
		padding-top: 12px
}
}

