page-home {

	.toolbar-background {
    background-color: #547d88
  }

  .bar-header {
    
  }


  .flexgrid{
  	min-width: 300px;
    max-width: 300px;
    margin-bottom: 10px;

    .services-img {
      
    }

  }

  .services-imgwrap{
      height: 192px;
      width: 100%;
       
      img {
    
      width: 100%;
      height: 100%;
      object-fit: cover;


    }


  }

  .flexgrid-type{
    min-width: 300px;

    img {
      margin-top: 10px
    }

  }


  .customPara {
  	color:#ffff;
  	text-align: center
  }

  .centerImage {
  	align-items: center;
    max-width: 80%;
  }

  .vericalCenter {
    margin-top : 25px;
  }
  
  .service-btn .button-inner{
      white-space: nowrap; 
      width: 150px; 
      overflow: hidden;
      text-overflow: ellipsis; 
      display: block;
      line-height: 2.6;
      margin: 0 auto;
  }

}
