page-home {

	.toolbar-background {
    background-color: #547d88
  }

  .bar-header {
    
  }


  .flexgrid{
  	min-width: 250px;

    .services-img {
      
    }

    img {
      margin-top: 10px
    }

  }


  .customPara {
  	color:#ffff;
  	text-align: center
  }

  .centerImage {
  	align-items: center;
    max-width: 80%;
  }

  .vericalCenter {
    margin-top : 25px;
  }

}
