page-bsc-header {

	.toolbar-background {
    background-color: #547d88
  }

  .centerImage {
  	align-items: center;
  }

  .vericalCenter {
    margin-top : 25px;
  }

  .selected {
  	color: #62a830;
  	clear: false
  }

  .default {
  	color: #f4f4f4;
  	clear: true
  }

  .header-button {
  }

  .login {
    width: 100px;
  }

  .bsc-header {
    background:#62a830;
  }

}
