<!--
  Generated template for the BscHeaderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-navbar hideWhen="core">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>
          <div style="text-align: center; width: 100%" >
            <img src="assets/imgs/logo.png" style="margin-top: 9px; height: 25px;" />
          </div>
        </ion-title>

</ion-navbar>

<ion-grid showWhen="core" style="background:#547d88">
      <ion-row>
        <ion-col>
          <img src="assets/imgs/logo.png" align="left" class="vericalCenter"/>
        </ion-col>
        <ion-col>
          <img class = "right-img" src="assets/imgs/smart-trav-logo.png" align="right"/>
        </ion-col>
        <button *ngIf = "constantProvider.isLogin" class="header-logout" item-left full  (click)="logoutPressed()">Logout<img  src="assets/imgs/Logout.png" ></button>
      </ion-row>

     <!--  <ion-row>
        <ion-col class = "logout-col">
          <button *ngIf = "constantProvider.isLogin" class="header-logout" item-left full  (click)="logoutPressed()">Logout</button>
        </ion-col>
      </ion-row> -->
</ion-grid>

<ion-grid showWhen="core" class='bsc-header'>
      <ion-row style="text-align: center; display: flex; justify-content: center;">
        <ion-col>
          <ion-row>
            <ion-col *ngFor="let page of pages">

              <button *ngIf='header==page.title' ion-button class="header-button" color='primary' item-left full (click)="openPage(page)">{{page.title}}</button>

              <button *ngIf='header!=page.title' ion-button class="header-button" color='light' clear item-left full (click)="openPage(page)">{{page.title}}</button>

            </ion-col>
            <ion-col *ngFor="let page of cmsPages">

              <button *ngIf='header==page.name' ion-button class="header-button" color='primary' item-left full (click)="openPage(page)">{{page.name}}</button>

              <button *ngIf='header!=page.name' ion-button class="header-button" color='light' clear item-left full (click)="openPage(page)">{{page.name}}</button>

            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col col-2>
          <ion-row>
            <ion-col *ngFor="let page of loginPage">
              <button ion-button class="header-login" item-left full color='login' (click)="openPage({page:constantProvider.loginPage})">{{constantProvider.loginTitle}}</button>
             
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
</ion-grid>
