<ion-header hideWhen="core">
  <page-bsc-header ></page-bsc-header>
</ion-header>

<ion-content>

  <page-bsc-header *ngIf= "!isPushed" header='about us' showWhen="core"></page-bsc-header>
  <page-bsc-header *ngIf= "isPushed" header='Today In Bali' showWhen="core"></page-bsc-header>

  <h2 hideWhen='core' class="mobile-sub-header"[innerHTML]="pageTitle | uppercase"></h2>
  <h2 showWhen='core' class="core-sub-header"[innerHTML]="pageTitle | uppercase"></h2>

  <ion-grid class='about-us'>
  	<ion-row *ngFor="let content of pageContents">
  		<ion-col>
  			<p [innerHTML]='content'></p>
  		</ion-col>
  	</ion-row>
  </ion-grid>

  <br>

  <div style="text-align: center;">
    <button ion-button color='primary' outline (click)='buttonBackPressed()' *ngIf='isPushed'>Back</button>
  </div>

  <br>

  <page-bsc-footer></page-bsc-footer>

</ion-content>