<ion-header hideWhen="core">
	<page-bsc-header ></page-bsc-header>
	<ion-grid class='bsc-header'>
    <ion-row style="text-align: center; display: flex; justify-content: center;">
      <ion-col>
        <ion-row>
          <ion-col *ngFor="let page of pages">
            <button *ngIf='header==page.title' ion-button class="header-button" color='primary' item-left full (click)="openPage(page)">{{page.title}}</button>
            <button *ngIf='header!=page.title' ion-button class="header-button" color='light' clear item-left full (click)="openPage(page)">{{page.title}}</button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>

  <page-bsc-header *ngIf= "!isPushed" header='about us' showWhen="core"></page-bsc-header>
  <page-bsc-header *ngIf= "isPushed" header='Today In Bali' showWhen="core"></page-bsc-header>

  <h2 hideWhen='core' class="mobile-sub-header"[innerHTML]="pageTitle | uppercase"></h2>
  <h2 showWhen='core' class="core-sub-header"[innerHTML]="pageTitle | uppercase"></h2>

<ion-grid class = "grid-adjust" >
  <ion-grid class='about-us'>
  	<ion-row *ngFor="let content of pageContents">
  		<ion-col>
  			<p [innerHTML]='content'></p>
  		</ion-col>
  	</ion-row>
  </ion-grid>

  <br>

  <div style="text-align: center;">
    <button ion-button color='primary' outline (click)='buttonBackPressed()' *ngIf='isPushed'>Back</button>
  </div>

  <br>
</ion-grid>

  <page-bsc-footer></page-bsc-footer>

</ion-content>


<ion-footer hideWhen="core">
  <ion-row>
    <ion-col no-padding>
        <button no-margin ion-button full color="light" (click)="openService()">
          <div>
            <ion-icon name="paper"></ion-icon><br>
            <label>Services</label>
          </div>
        </button>
    </ion-col>
    <ion-col no-padding>
        <button no-margin ion-button full color="light" (click)="openToday()">
          <div>
            <ion-icon name="partly-sunny"></ion-icon><br>
            <label>Today</label>
          </div>
        </button>
    </ion-col>
    <ion-col no-padding>
      <button no-margin ion-button full color="light" (click)="openFavourites()">
        <div>
          <ion-icon name="star"></ion-icon><br>
          <label>Favourites</label>
        </div>
      </button>
    </ion-col>
    <ion-col no-padding>
      <button no-margin ion-button full color="dark" (click)="openMe()">
        <div>
          <ion-icon name="contact"></ion-icon><br>
          <label>Me</label>
        </div>
      </button>
    </ion-col>
  </ion-row>
</ion-footer>