page-about-us {
	img {
		max-width: 80%;
	}

	.about-us {
		margin-right: 10%;
		margin-left: 10%;
		width: 80%;
	}

	.bsc-header {
		background:#62a830;
	}
	
	.selected {
		color: #62a830;
		clear: false
	}
}
