page-service-details {
	.details {
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 0px;
	}

	.details-row {
		display: flex; 
		justify-content: center; 
		padding-left: 10%; 
		padding-right: 10%; 
		padding-bottom: 30px;
		padding-top: 30px;
	}
}
