page-reset-password {

	.form-col {
		min-width: 300px;
		max-width: 500px;

		h6 {
			text-align: center;
		}
	}
	.form-panel{
		background-color: #fff;
	    padding: 4rem;
	    margin-bottom: 2rem ;
	}
	.form-panel .form-item{
		box-shadow: 0 0 0 1px #d2d1d1;
	}

	

  	.core-sub-header {
	    background-color: #469594;
	    text-align: center;
	    margin-top: 0px;
	    margin-bottom: 0px;
	    color: #ffff;
	    height: 140px;
	    padding-top: 55px;
	    font-weight: 600;
	    font-size: 30px;
	    background-image: url("../assets/imgs/background.png");
	}

	.mobile-sub-header {
		background: #469594;
		text-align: center;
		margin-top: 0px;
		margin-bottom: 0px;
		color: #ffff;
		height: 50px;
		vertical-align: middle;
		padding-top: 12px
}
}


