page-medical-assistance {
	h6 {
		text-align: center;
		margin-top: 0px;
	}

	.flexgrid-core{
    min-width: 250px;
    margin-top: 20px;
    margin-bottom: 40px;

    button {
      font-size: 17px;
      height: 50px;
      padding-right: 30px;
      padding-left: 30px;
    }
  }

  .form-header {
		color: #547d88;
		height: 40px;
		text-align: center;
		padding-top: 10px;
		margin-right: 10%;
		margin-top: 20px;
		margin-left: 10%;
		font-size: 25px;
	}

  .flexgrid-mobile{
    min-width: 260px;
    margin-top: 10px;
    padding-bottom: 10px;

    button {
      font-size: 17px;
      height: 50px;
      padding-right: 30px;
      padding-left: 30px;
    }
  }

  
  .logout-button {
    text-align: center;
    margin-bottom: 20px;
  }

  .bsc-header {
    background:#62a830;
  }

  .selected {
  	color: #62a830;
  	clear: false
  }
}
