page-exchange-rate {
	.exchange-grid {
		padding-top: 10px;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
		border : 2px solid #f0f0f0;
		margin-top: 30px;
		margin-bottom: 0px;
		margin-left: 10%;
		margin-right: 10%;
		width: 80%;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		
		.exchange-row {
			display: flex; 
			justify-content: center;
		}

		.price-field {
			border : 2px solid #f0f0f0;
			padding-left: 5px;
		}

		.currency-field {
			border : 2px solid #f0f0f0;

			ion-select {
				max-width: 100%;
				width: 100%;
			}
		}
	}

	.centerImage {
	  	align-items: center;
	    max-width: 80%;
 	 }
}
