page-bsc-footer {


  .flexgrid{
  	min-width: 250px;
  	height: auto
  }

  .customPara {
  	color:#ffff;
  	text-align: center
  }

  .centerImage {
  	align-items: center;
  }

  .vericalCenter {
    margin-top : 25px;
  }

  .social-icon {
    cursor: pointer;
    padding-right: 5px;
    padding-left: 5px;
  }

}
