page-dashboard-tickets  {

	.sub-button {
		color: #62a830;
		font-size: 22px;
		cursor: pointer;
	}

	.logout-button {
		text-align: center;
		margin-bottom: 20px;
	}
	
	.placeholder-text {
		color: #7d7a7a;
		font-size: 15px;
		text-align: center;
	}

	.flex-row {
		background-color: #dce4f2;
		text-align: center; 
		display: flex; 
		justify-content: center;
		margin-top: 20px;
		
		.form-col {

			h6 {
				text-align: center;
			}
		}
	}

	.heading{
		text-align: center;
		color: #2c487a;
		font-size: 20px;
		margin-top: 20px;

	}

	.button-map {
	 	width: 150px;
		height: 30px;
		margin-left: 5px;
		background-color: #809cce;
		margin-right: 5px;
	}

	.button-map-2{
		background-color: white;
		margin-top: 15px;
		color: #63a722;
		font-size: 13px;
	}

	.button-activate-ticket{
		background-color: white;
		margin-top: 15px;
		color: #63a722;
		font-size: 13px;
		font-weight: bold;
	}

	.button-md-primary.activated{
		background-color: #647da8;
	}

	.button-md-primary:hover:not(.disable-hover) {
		background-color: #647da8;
	}

	.flexgrid{
		color: #101212;
		min-width: 100%;

		h2 {
			margin-top: 5px;
		}

		h5 {
			margin-top: 15px;
			padding-left: 5px;
			padding-right: 5px;
			margin-bottom: 15px;
		}

		min-width: 250px;
	}

	.normal-text {
		display: flex;
		padding-left: 5px;
		text-align: left;
		color: #595a5d;
	}

	.flexgrid-2{
		max-width: 900px;
		padding: 2rem;
		text-align: center;
		
		margin-top: 30px;
		margin-bottom: 30px;
		color: #527a85
	}

	.flexgrid-row-head{	
		background-color: #469594;
		color: white;
		margin-bottom: 3px;
		padding-left: 10px;
		box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		
	}

	.service-row {
		text-align: center; 
		display: flex; 
		justify-content: center; 
  		padding-top: 20px; 
  		padding-bottom: 20px;
  		background-color: white
  	}

  	.flexgrid-row{
  		margin-bottom: 1px;
  		background-color: white;
  		padding-left: 10px;
  		box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 1px 0 rgba(0, 0, 0, 0.19);
  	}

  	.mobile-text {
  		color: #527c88
  	}


  	.flexgrid-core{
  		margin-top: 40px;
  		margin-bottom: 40px;
  		min-width: 300px;
  		background-color: #e3e7ea;
  		margin-right: 20px;
  		margin-left: 20px;
  		min-height: 250px;		
  		
  	}

  	.toggle-content {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		margin-top: 2px;
		text-align: center;
		background-color: #d6d9da;
		padding-top: 10px;
	}

  	.sub-header {
		background: #547d88;
		color: #ffffff;
		position: relative;
	}

}
