<ion-header hideWhen="core">
   <page-bsc-header ></page-bsc-header>
</ion-header>

<ion-content style = "">


   <page-bsc-header showWhen="core"></page-bsc-header>

   <h2 hideWhen='core' class="mobile-sub-header">AVAILABLE TICKETS</h2>
   <h2 showWhen='core' class="core-sub-header">AVAILABLE TICKETS</h2>
   
   <h6 class="placeholder" [hidden]="bundleTicketsToShow.length > 0 || !isListLoaded">No Tickets Found</h6>

<ion-list>
   <ion-grid class='flexgrid' hideWhen="core">
     <ion-item no-lines *ngFor="let ticket of bundleTicketsToShow;">
           <ion-row class= "sub-header" (click)="toggleSection(ticket)">
             <ion-col>
              <h3 style=" margin-top: 5px" *ngIf="ticket.first_name">{{ticket.first_name | uppercase}} {{ticket.last_name | uppercase}}</h3>
               <h3 style=" margin-top: 5px" *ngIf="!ticket.first_name">Name Not Provided</h3>
            </ion-col>

            <ion-col col-1 class="icon-arrow">
                  <img src="assets/imgs/down-arrow.png" *ngIf="ticket.is_open" >
                  <img src="assets/imgs/arrow-up.png" *ngIf="!ticket.is_open" >
            </ion-col>
          </ion-row>

         <ion-row [hidden]="ticket.is_open" class = "toggle-content">
              <ion-col>
                <ion-row>
                 <p class="normal-text"><b>Ticket Type: </b>{{ticket.ticket_type | uppercase}}</p>
                </ion-row>

                <ion-row *ngIf="ticket.is_active">
                  <ion-col>
                    <p class="normal-text" *ngIf="ticket.is_active" [innerHTML]='ticket.timer_value'></p>
                  </ion-col>

                  <ion-col>
                    <button  class="button-map" (click)="buttonProfilePressed(ticket)" ion-button color='primary' >VIEW PROFILE</button><br>
                  </ion-col>
                </ion-row>

                <ion-row> 
                  <ion-col>
                    <p *ngIf = "!ticket.is_complete" class = "normal-text">please update profile</p>
                    <button *ngIf = "ticket.is_complete && !ticket.is_active" class="button-map" ion-button color='primary'  (click)="activateTimer(ticket)">ACTIVATE TICKET</button>
                  </ion-col>

                  <ion-col>
                    <button *ngIf="!ticket.is_active || !ticket.is_complete" class="button-map" (click)="buttonProfilePressed(ticket)" color='primary'  ion-button>UPDATE PROFILE</button>
                  </ion-col>
                </ion-row>                
              </ion-col>
        </ion-row>
  </ion-item>
 </ion-grid>
</ion-list>

<ion-grid class='flexgrid-2' showWhen="core" [hidden]="bundleTicketsToShow.length == 0 || !isListLoaded">

          <ion-row class = "flexgrid-row-head">
            
            <ion-col class="form-col" >
                    <p>NAME</p>
            </ion-col>
            
            <ion-col>        
                      <p>TYPE</p>
            </ion-col>
           
            <ion-col>
               <p>PROFILE</p>
            </ion-col>
             
             <ion-col>
                  <p> TICKET STATUS </p>
            </ion-col>
        </ion-row>

        <ion-row class = "flexgrid-row" *ngFor="let ticket of bundleTicketsToShow;">
            <ion-col class="form-col" >
                    <p *ngIf="ticket.first_name">{{ticket.first_name | uppercase}} {{ticket.last_name | uppercase}}</p>
                    <p class = "placeholder-text" *ngIf="!ticket.first_name">Name not provided</p>
            </ion-col>
            <ion-col>        
                   <p>{{ticket.ticket_type | uppercase}}</p>
            </ion-col>
           
            <ion-col>

                <button *ngIf="ticket.is_active" class="button-map-2" (click)="buttonProfilePressed(ticket)" >VIEW</button>
                <button *ngIf="!ticket.is_active || !ticket.is_complete" class="button-map-2" (click)="buttonProfilePressed(ticket)">UPDATE</button><br>
              
            </ion-col>
             <ion-col>

                    <button *ngIf = "ticket.is_complete && !ticket.is_active" class="button-activate-ticket"  (click)="activateTimer(ticket)">ACTIVATE TICKET</button>

                    <p *ngIf = "!ticket.is_complete" class = "placeholder-text">please update profile</p>
          <p *ngIf="ticket.is_active" [innerHTML]='ticket.timer_value'></p>
            </ion-col>
        </ion-row>
    </ion-grid>

  <div style="text-align: center; margin-bottom: 20px;">
    <button ion-button color='primary' outline (click)='buttonBackPressed()'>Back</button>
  </div>

<page-bsc-footer></page-bsc-footer>
</ion-content>

 