page-dashboard-tickets  {

	.sub-button {
		color: #62a830;
		font-size: 22px;
		cursor: pointer;
	}


	.logout-button {
		text-align: center;
		margin-bottom: 20px;
	}


	.flex-row {
		background-color: #dce4f2;
		   text-align: center; 
	    display: flex; 
	    justify-content: center;
	    margin-top: 20px;
	  

	    .form-col {

			h6 {
				text-align: center;
			}
		}
	}

	.heading{
		text-align: center;
		color: #2c487a;
		font-size: 20px;
		margin-top: 20px;

	}

	.button-map {
	    width: 140px;
	    height: 30px;
	    margin-top: 20px;
	    margin-bottom: 15px;
	    display: inline-block;
	    background-color: #809cce

	 }

	 .button-md-primary.activated{
	 	background-color: #647da8;
	 }

	 .button-md-primary:hover:not(.disable-hover) {
    background-color: #647da8;
	}

	.flexgrid{
	  		
		color: #101212;
		
		min-width: 100%;


      button {

      }

		h2 {
			margin-top: 5px;
		}

		h5 {
			margin-top: 15px;
			padding-left: 5px;
			padding-right: 5px;
    		margin-bottom: 15px;
		}


		min-width: 250px;

  	}

  	.service-row {
  		text-align: center; 
  		display: flex; 
  		justify-content: center; 
  		padding-left: 10%; 
  		padding-right: 10%; 
  		padding-top: 20px; 
  		padding-bottom: 20px;
  	}

  	.flexgrid-core{
  		
      margin-top: 40px;
      margin-bottom: 40px;
      min-width: 300px;
      background-color: #b4c4c9;
   	  margin-right: 10px;
   	  min-height: 250px;
  	}
}



